.app-footer {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #aaaaaa;
    box-shadow: 0 0 10px 0 black;
    border-radius: 10px;

    p {
        margin: 0;
    }
}